<configuration>
  <!--<connectionStrings>
    <add name="PPFormazioniConnectionString" connectionString="Data Source=.VT-BRIENZAMA\\SQLEXPRESS;Initial Catalog=PPFormazioni; Integrated Security=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>-->
  
   <runtime>
      <gcServer enabled="true"/>
   </runtime>
</configuration>
